h1{
    word-break: break-word!important;
    word-break: break-all;
    margin: 0 !important;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    text-align:  left;
    box-shadow: 0px 1px 2px silver;
    padding:20px;
    position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 background-color: #fff;
}
h2{
	 font-size: 26px;
	 color: coral;
	 margin-bottom: 0;

}
p{
  color: #403f3f;
}
body{
	margin: 0px auto;
	padding:100px 60px;
	margin-bottom: 100px;
}
pre{
	width: 100%;
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.9);
    color: rgba(255,255,255,0.9);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

blockquote{
	position: relative;
	margin: 0;
	padding-left:15px;
}
blockquote:after{
	position: absolute;
	top: 0;
	left: 0;
	color:#CC3333;
	content: '\2731';
	display: block;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.side-menu{
	position: relative;
	width: 20%;
	float: left;
	overflow-x: hidden;
	height: 100%;
	box-shadow: 0 1px 2px silver;
	z-index: 100;
}
.content{
	width: 80%;
	float: left;
	overflow: hidden;
	height: 100%;
}


.side-menu-title{
	height: 42px;
	line-height: 42px;
	padding-left: 20px;
	font-size: 16px;
	color: #222222;
}
